html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-image: url(images/klcbanner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% -50px;
  background-size: 100vw;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.bannertext {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}



@media only screen and (min-width: 610px) {
  body {
    background-position: 50% -110px;
  }
  .bannertext {
    font-size: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .bannertext {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1100px) {
  .bannertext {
    font-size: 3em;
  }
}

.pagecontent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workshoplist {
  background-color: white;
  flex: 1 1 auto;
}

.choose {
  font-size: 1.2em;
}

.card {
  text-decoration: none;
}

.workshopcard {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.pastcard {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(196, 196, 3);
  background-color: rgb(223, 223, 63);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 1.5em;
  justify-content: center;
}

.ccsudburycard {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(127, 201, 66);
  background-color: rgb(170, 240, 113);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.ccsudburytitle {
  display: flex;
  justify-content: center;
}

.ccsudburydesc {
  display: flex;
  justify-content: left;
}

.workshopcard p {
  color: black;
}

.carddate {
  font-size: 1.5em;
  font-weight: bold;
}

.cardtitle {
  font-size: 1.7em;
  font-weight: bold;
}

.resourceCard {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
}

.footer {
  background-color: black;
  color: white;
}

.social {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.socialLink {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.fa {
  /* padding: 20px; */
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1em;
  width: 30px;
  height: 30px;
  text-align: center;
  /* text-decoration: none; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2em 0.5em 0.2em 1em; /* top, right, bottom, left */
}